.container{ 
    
    display: flex;
    flex-direction: row;
    padding-top: 43px;    

    .h1Hidden {
        display: none;
    }
    .filters{
        margin: 0 20px 0 41px;
    }

    .content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width:calc(100% - 350px);

        h1{
            width: 100%;
            height: 42px;            
            font-weight: bold;
            font-size: 35px;
            line-height: 42px;
            color: rgba(255, 255, 255, 0.87);
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin-left: 14px;
            margin-bottom: 21px;
        }
        
        h3{
            width: 97px;
            max-width: 100%;
            height: 30px;            
            font-weight: 500;
            font-size: 25px;
            line-height: 30px;
            color: rgba(255, 255, 255, 0.5);
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin-left: 14px;
            margin-bottom: 21px;
        }    
        .list{
            max-width: 100%;
        }    
    }

    @media only screen and (max-width: 820px) {

        .h1Hidden{
            display: block;
            width: 100%;
            height: 42px;            
            font-weight: bold;
            font-size: 35px;
            line-height: 42px;
            color: rgba(255, 255, 255, 0.87);
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin-left: 14px;
            margin-bottom: 21px;
            text-align: center;
        }
      
        padding: 0;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        justify-content: baseline;
        align-items: center;  
        
        h1{
            width: 100%;
            height: 42px;            
            font-weight: bold;
            font-size: 35px;
            line-height: 42px;
            color: rgba(255, 255, 255, 0.87);
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin-left: 14px;
            margin-bottom: 21px;
        }   

        .filters{
            margin: 10px 0;
        }

        .content{            
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width:60vw;
            .h1 {
                display: none;
            }
            .list{
                max-width: 100%;
            }    
        }
    }
}